:root {
  --color-primary: #1D1D1D;
  --color-secondary: #EEE8DA;
  --color-accent: #FE3001;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
footer,
header,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'AltRivera Bold';
  src: url('./public/fonts/ALTRiviera-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AltRivera Medium';
  src: url('./public/fonts/ALTRiviera-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AltRivera Regular';
  src: url('./public/fonts/ALTRiviera-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'AltRivera Regular', sans-serif;
  height: 100vh;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.no-select {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
  touch-callout: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2.6vw;
  font-size: min(0.8vw, 14px);
  
  @media (max-width: 768px) {
    font-size: min(4vw, 18px);
    padding: 20px 20px;
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    font-size: 21px;
    padding: 30px 40px;
  }
}

.hl {
  font-family: 'AltRivera Medium';
}

.hr {
  font-size: min(0.75vw, 14px);

  @media (max-width: 768px) {
    font-size: min(4vw, 18px);
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    font-size: 21px;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.hero {
  padding-top: 5.9vw;
  margin-left: -3vw;
  width: min(47.6234375vw, 100vh);
  max-width: 1080px;

  @media (max-width: 768px) {
    width: 83.3155216285vw;
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    width: 79.4196642686vw
  }
}

.title {
  font-family: 'AltRivera Bold';
  font-size: min(0.8vw, 14px);
  display: inline-block;
  margin-top: 1.6vw;
  
  @media (max-width: 768px) {
    font-size: min(3vw, 14px);
    margin-top: 20px;
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    font-size: 1.9vw;
    margin-top: 36px;
  }
}

.subtitle {
  font-size: min(0.94vw, 18px);
  margin-top: min(0.6vw, 10px);
  
  @media (max-width: 768px) {
    width: fit-content;
    margin: 0 auto;
    max-width: 75%;
    font-size: min(3.8vw, 18px);
    margin-top: 10px;
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    font-size: 2.1vw;
    margin-top: 20px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0 2.6vw 12px;
  font-size: min(0.65vw, 14px);
  justify-content: space-between;
  
  @media (max-width: 768px) {
    padding: 0 20px 12px;
    font-size: min(3vw, 18px)
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    padding: 0 40px 20px;
    font-size: 21px
  }
}

@media (max-width: 1280px) {
  li:nth-of-type(3), 
  li:nth-of-type(4), 
  li:nth-of-type(5), 
  li:nth-of-type(6) {
    display: none;
  }
}