:root {
  --color-primary: #1D1D1D;
  --color-secondary: #EEE8DA;
  --color-accent: #FE3001;
}
* {
  padding: 0;
  box-sizing: border-box;
}

/* --- Simple Modern Reset --- */

/* Classic Meyer Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Modern tweaks */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Lists */
ol,
ul {
  list-style: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Links & buttons */
a,
button {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

/* Form elements */
input,
textarea,
select,
button {
  font: inherit;
  outline: none;
}

/* Images & media */
img,
video,
audio {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Placeholder color reset */
::placeholder {
  color: inherit;
  opacity: 0.7;
}

/* Hidden elements */
[hidden] {
  display: none;
}

/* Optional: smoother text */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'AltRivera Bold';
  src: url('./public/fonts/ALTRiviera-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AltRivera Light';
  src: url('./public/fonts/ALTRiviera-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AltRivera Medium';
  src: url('./public/fonts/ALTRiviera-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AltRivera Regular';
  src: url('./public/fonts/ALTRiviera-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'AltRivera Regular', sans-serif;
  height: 100vh;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.no-select {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
  touch-callout: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2.6vw;
  font-size: min(0.8vw, 14px);
}

.hl {
  font-family: 'AltRivera Medium';
}

.hr {
  font-size: min(0.75vw, 14px);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.hero {
  padding-top: 5.9vw;
  margin-left: -3vw;
  width: min(47.6234375vw, 100vh);
  max-width: 1080px;
}

.title {
  font-family: 'AltRivera Bold';
  font-size: min(0.8vw, 14px);
  display: inline-block;
  margin-top: 1.6vw;
}

.subtitle {
  font-size: min(0.94vw, 14px);
  margin-top: min(0.6vw, 10px);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  display: flex;
  padding: 0 2.6vw 12px;
  font-size: min(0.65vw, 14px);
  justify-content: space-between;
}